/*전체적인 세팅부터*/
*{
    box-sizing:border-box;
}
html{
    height:100%;
}
body{
    height:100%;
    margin:0px;
    
}
.container{
    height: 100%;
    background-color: skyblue;
    
    
position: relative;
}     
.snowfall1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        pointer-events: none;
        z-index: 9999;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        animation: snow 6s 0s linear infinite;
        top:100px;
}
.snowfall2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 9999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: snow 6s 0s linear infinite;
    
    left:200px;
}
.snowfall3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 9999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: snow 6s 0s linear infinite;
    top:100px;
    left:500px;
}
.snowfall4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 9999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: snow 6s 0s linear infinite;
    top:20px;
    left:700px;
}
.snowfall5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 9999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: snow 6s 0s linear infinite;
    top:100px;
    left:900px;
}
@keyframes snow{
    form{transform: translate(0px, 0px);}
    to{
    transform: translate(400px,400px);
}
}
/*스크린 크기 조정*/
.chat-screen{
    height: calc(100% - 120px);
    overflow: scroll;
    
}
/*유저 정보 표시되는 부분*/
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.user__column{
    float:left;
}
.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: skyblue;
}
.user__nick, .user__count{
    margin: 5px;
}
.user__count{
    font-size: 12px;
    color: darkblue;
}
/*채팅 입력창*/
.chat-form{
    height:120px;
    background-color: white;
}
.chat-form__field{
    height: 120px;
}
.chat-form__msg{
    float:left;
    width: calc(100% - 120px);
    height:120px;
    border:none;
    font-size:24px;
    padding: 10px;
    resize:none;

    
}
.chat-form__bt{
    float:right;
    width:120px;
    height:120px;
    border-radius: 10px;
    background-color: skyblue;
    font-size:18px;
    color:white;
    border: none;
}
.chat-form__bt:active{
    background-color: blue;
}

.chat-form__msg:focus{
    outline: none;
}

