*{
    padding:0;margin:0
}
li{
    list-style:none
}
a{
    text-decoration:none;
    font-size:30px
}
.nav{
    background-color: black;
    
}
.menu{
    
    display: flex;
}    
 
li{
    width: 100px;
    float:left;
    text-align: center;
    
    
}
a{
    color:white;
}
.home {
    background-color: green;
}
div{
    display: none;
    text-align: center;
}

@media screen and (max-width:550px){
    .menu{
        display: none;
    }
    div{
        display: flex;
    }
    div:hover{
        transition-duration: 0.5s;
    }
    
}
