body{ font-size : 10px;


    
   
}
html{
    width: 400px;
    height: 600px;
    margin: 0px;
    border:0px;
    background-clip: content-box;
    background-color: aquamarine;
    background-size: 400px 600px;
    box-shadow: 5px 5px 0  green,
    5px 5px 0 darkgreen,
    5px 5px 0 orange,
    5px 5px 0 red;
    
   
}
*{
    text-align: center;
   
    
    
    
}
h1{
    padding: 100px 50px 20px 50px;
}    
#email{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:300px;
    height: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 8px;
    
    
}
#name{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:300px;
    height: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 8px;
}
#password{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:300px;
    height: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 8px;
}
#phonenumber1{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:70px;
    height: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 8px;    
}
#phonenumber2{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:80px;
    height: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 8px;
    margin-right: 18px;
    margin-left: 18px; 
    
}
    #phonenumber3{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:80px;
    height: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 8px;
}
button.number{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:70px;
    height: 15px;
    margin-bottom: 10px;
    margin-right: 40px;
    
    font-size: 8px;
    box-sizing: border-box;
}
button.clear{
        border:1px solid rgb(0, 87, 0);
        border-radius: 3px 3px 3px 3px;
        width:60px;
        height: 15px;
        margin-bottom: 10px;
        margin-right: 40px;
        font-size: 8px;
}
select{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width:300px;
    height:23px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}
option{
    text-align: left;
}
#sex{
    width:10px;
    height:20px;
    
}
button{
    border:1px solid rgb(0, 87, 0);
    border-radius: 3px 3px 3px 3px;
    width: 300px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
   
}
p{ text-align: right; 
    font-size: 6px;} 

