
body {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
      
    background: linear-gradient(to top right, #4f41bc, #b93143);
}
    



button{
    border : 2px solid skyblue;
    border-radius: 3px;
    color : skyblue;
    background-color: white;
    padding: 8px;
    font-size: 16px;
    
    
}