html{
    text-align: center;
    
}
body{
    background-color: rgb(63, 200, 63);
    border: 3px solid darkgreen;
    box-sizing: border-box;
    
}
h1{
    border:5px double green;
    margin-left: 400px;
    margin-right: 400px;
    padding:10px;
    color: darkgreen;
    background-color: aqua;
    font-size: 50px;
    box-sizing: border-box;
}
.date{
    border: 5px double green;
    margin-left: 500px;
    margin-right: 500px;
    height: 80px;
    color: darkgreen;
    text-align: right;
    
    margin-bottom: 30px;
    box-sizing: border-box;
}
div p{
    font-size: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    box-sizing: border-box;
}

img{
    border:5px double green;
    width: 756px;
    height: 400px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px 100px 50px 100px;
    box-sizing: border-box;
    margin-bottom: 40px;
    
}
.content{
    border:5px double green;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    color: aqua;
    box-sizing: border-box;
}
